{% extends "frontend.html" %}

{% block title %} Acceso Restringido {% endblock %}
{% block article %} 
			<div class="container">			
			  	<div class="row">
					
	       			<div class="col-lg-2">
	        			<img class="img-thumbnail" src="/media/images/restringido2.jpg">         
		        	</div>	                
			   		<div class="col-lg-10">
			        	        	  			        	  
			          		  				<h2>{{informacion}}</h2>
							                
			     	</div>
	  				<br>

	  				
					<a href="/"><h2>Regresar </h2> </a>
				
				</div>
	 		</div>
	 		<br>
{% endblock %}
{% block aside %}
{% endblock %}


