{% extends "base_menu.html" %}
{% block title %} Login {% endblock %}
{% block article %}


 
<div id="myCarousel" class="carousel slide">
 
<ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active">kdkdkdkdkdkdkdkdkd</li>    
</ol>
 
 
 <div class="carousel-inner">
    <div class="active item">…</div>
    <div class="item">…</div>
    <div class="item">…</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  

</div><!--/myCarousel-->
 

{% endblock %}
