{% extends 'frontend.html' %}
{% block title %} Bienvenidos {% endblock %}

	{% block article %}
	 <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/media/images/sistemas.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Departamento de Sistemas</h1>
              <p>Encargada de estudiar, diseñar, desarrollar, implementar y administrar los sistemas de información utilizados para el manejo de datos e información de toda la organización</p>
             <!-- <p><a class="btn btn-large btn-primary" href="#">Sign up today</a></p>-->
            </div>
          </div>
        </div>
       
        <div class="item">
           <img src="/media/images/area.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Unidad de Desarrollo</h1>
              <p>Encargada de brindar soporte y mantenimiento a los sistemas internos de la empresa</p>
               <!--<p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>-->
            </div>
          </div>
        </div>
        <div class="item">
           <img src="/media/images/acity_gente.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Unidad de Infraestructura.</h1>
              <p>Encargada de administrar el Data Center y brindar soporte a la red de la empresa</p>
               <!--<p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>-->
            </div>
          </div>
        </div>
        <div class="item">
           <img src="/media/images/paseo.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Unidad de Soporte Técnico</h1>
              <p>Encargado del mantenimiento de equipos de computo y reparación de Impresoras</p>
               <!--<p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>-->
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-polaroid" src="/media/images/helpdesk.jpg">
          <h2>Gestión de Ticket</h2>
          <p>Herramienta de HELPESK que nos permite reportar fallas o solicitar servicio para el area de soporte a Usuarios</p>
          <p><a class="btn btn-primary" href="/tickets/page/1/">Ingresar &raquo;&raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-polaroid" src="/media/images/req_software.png">
          <h2>Requerimientos de Desarrollo</h2>
          <p>Aplicacion que nos permite realizar los requerimientos de Desarrollo de Software via WEB.</p>
          <p><a class="btn btn-primary" href="#">Ingresar &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">       
          <img class="img-polaroid" src="/media/images/solucion.jpg">
          <h2>Soluciones</h2>
          <p>Busqueda en la base de datos de soluciones de soporte para su problema actual. Con unas pocas y simples palabras claves obtendra soluciones.</p>
          <p><a class="btn btn-primary" href="#">Ingresar &raquo;&raquo;</a></p>     
        </div>    
      </div>
    </div>      
    <hr>
	{% endblock %}
	
	
