<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="IE=10" />   
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/media/images/favicon2.ico">    
    <title>{% block title %}{% endblock %} ACITY MOVIL </title>
    <!-- Le styles -->
    <script src="/media/js/jquery.js"></script>
      
    <script src="/media/bootstrap/js/bootstrap.min.js"></script>   
    <link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet">   
    <script src="/media/js/jquery.form.min.js"></script>
    <!--<script src="/media/js/jquery-2.0.3.min.js"></script>-->    
    <script src="/media/js/demo.js"></script>    
    <!--<script src="/media/js/demo2.js"></script>-->   
    <script src="/media/assets/js/holder.js"></script>   
    <link href="/media/css/carousel.css" rel="stylesheet">
    
    
     <!--<script type="text/javascript" src="/media/admin/js/core.js"></script>
     	<link href="/media/css/sigmin.css" rel="stylesheet">  
    <script type="text/javascript" src="/media/admin/js/calendar.js"></script>
	<script type="text/javascript" src="/media/admin/js/admin/DateTimeShortcuts.js"></script>
  	<script type="text/javascript" src="/media/admin/js/admin/RelatedObjectLookups.js"></script>
  	<script type="text/javascript" src="/media/admin/js/admin/js/jquery.init.js"></script>
  	
  	<script type="text/javascript" src="/media/admin/js/admin/js/actions.js"></script>
  	
	-->   
	
	
	
	
    {% block js %}
    
    {% endblock %}    	
  </head>
  
  <body> 	  	 
  	
       {% block content %}{% endblock %}

      <!-- FOOTER -->
        <footer>
          <div class="container">
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2014 Departamento de Sistemas. &middot; <a href="#">Privacy</a> &middot;
          <a href="#">Terms</a></p>
          </div> 
        </footer>	   
  </body>
</html>

