{% extends "frontend.html" %}

{% block js %}    
    
   <script type="text/javascript">
      
   	var nombre_boton_detalle = ".detalle";   	
   	$(document).on('ready',function(){
        $(nombre_boton_detalle).on('click',function(e){
			   e.preventDefault();
			   var Pid = $(this).attr('id');
               var name = $(this).data('name');
               var nameobse = $(this).data('name');
               $('#modal_idPedidodet').val(Pid);
               $('#modal_namedet').text(name); 
               $.getJSON("/ws/ocdetalles/"+name+"/",function(data){
               	$('#modal_obse').text(data[0].oc_obse);
				var table='<div class="table-responsive"><table class="table table-bordered" ><thead><tr class="success" ><th>O/C</th><th>Descripción del Producto</th><th>Cantidad</th><th>UM</th><th>Precio</th><th>Subtotal</th><th>F.Entrega</th></tr></thead>';       	
               	$.each( data, function( index, item){
                 	table+='<tbody><tr ><td>'+item.item_codcomer+'</td><td>'+item.item_nomb+'</td><td align="right">'+item.ocdet_cant+'</td><td >'+item.unidad+'</td><td align="right">'+item.precio+'</td><td align="right">'+item.subtotal+'</td><td >'+item.fentrega+'</td></tr></tbody>';
              	});
                 table+='</table></div>';                 
                  $(".modal-body #DetalleItemOC").html( table );
                 });
       });
	}); 	
    </script>
     
{% endblock %}   
{% block title %} Aprobacion de O/C del BM {% endblock %}
{% block article %}




<div class="container">
	<!--<div class="row">
		<div class="well sidebar-nav">
            <ul class="nav nav-list" id="ProductosNuevos">
              <li class="nav-header">Nuevos Productos</li>              
            </ul>
         </div><!--/.well
	</div>-->
	      
  <div class="row">
        <!--<div class="col-lg-2">
        	<img class="img-thumbnail" src="/media/images/req_software.png">         
        </div>-->
        <!-- /.col-lg-4  url:"/ws/productos/", -->        
	   	<div class="col-lg-10">	          
	          <h4>Listado de Tipo de Cambio!!</h4>         
	          <a href="/add/tipocambio" class="btn btn-primary">
	          	<span class="glyphicon glyphicon-usd"></span> Ingresar Tipo de Cambio 
	          	</a>
				
									                
	     </div><!-- /.col-lg-4 -->
       <!--  <div class="col-lg-2">
          <div class="list-group">
  		  	<a href="#" class="list-group-item active">Nuevo Pedido </a>
  		  	<a href="#" class="list-group-item">Tus Pedidos </a>   
  			</div>
           <ul class="nav nav-list" id="ProductosNuevos">
              <li class="nav-header">Nuevos Productos</li>              
           </ul>
        </div><!-- /.col-lg-4 -->       
    
  </div>
  <div class="row">
     <div class="col-lg-12">  
	     		<div class="row">				    
				    <div class="col-lg-12"> 
				    	 <h5> Página {{ tipocambio.number }} de {{ tipocambio.paginator.num_pages }}</h5>
				    </div>	
				</div>
								
		     	{% if tipocambio %}	
		     	<div class="table-responsive">				
		     	 <table class="table table-bordered" id="tabla_pedidos">
				      	<thead>
				                <tr>
				                  
				                  <th>Fecha</th>
				                  <th>Compra</th>
				                  <th>Venta</th>
				                </tr>
				        </thead>
				
				 		{% for p in tipocambio %}
					 		<tbody>
					 	
					 				<tr class="warning">						        		
										
												
								  <td>{{ p.fecha|date:'d-m-Y' }}</td>							          
						          <td>{{ p.venta }}</td>
						          <td>{{ p.compra }}</td>		          				                
						          
						         		          
						          <!--<td>{{ p.orpe_obse |truncatewords:20 }}</td>-->
								   					          
						        </tr>			          
							</tbody>
						{% endfor %}
				    </table>
				    </div>
				    
				    <div class="row">
	     			<div class="col-lg-12">      	
					{% if tipocambio %}				    
					    <ul class="pagination">
							<li><a href="/tipocambio/page/1"> << </a></li>
						{% if tipocambio.has_previous %}
							<li><a href="/tipocambio/page/{{tipocambio.previous_page_number }}/"> Prev </a></li>
						{% else %}
							<li><a href="#"> Prev </a></li>
						{% endif %}
						{% if tipocambio.has_next %}
							<li><a href="/tipocambio/page/{{tipocambio.next_page_number }}/"> Next </a></li>
						{% else %}
							<li><a href="#"> Next </a></li>
						{% endif %}
							<li><a href="/tipocambio/page/{{tipocambio.paginator.num_pages }} "> >> </a><li>
						</ul>					
					{% endif %}			
				    </div>
				    
				    
				</div>
				
			    {% else %}
					<h4>No existen tipo de cambios :( </h4>
				{% endif %}			
	     	</div>	     	
     	</div> 
     	
     
     <br>
	 
      <br>
 </div> 
 
{% endblock %}

{% block aside %}
{% endblock %}
