{% extends "frontend.html" %}

{% block js %}    
    
   <script type="text/javascript">
      
   	var nombre_boton_detalle = ".detalle";   	
   	$(document).on('ready',function(){
        $(nombre_boton_detalle).on('click',function(e){
			   e.preventDefault();
			   var Pid = $(this).attr('id');
               var name = $(this).data('name');
               var nameobse = $(this).data('name');
               $('#modal_idPedidodet').val(Pid);
               $('#modal_namedet').text(name); 
               $.getJSON("/ws/pedidodetalles/"+name+"/",function(data){
               	$('#modal_obse').text(data[0].orpe_obse);  
               	var table='<div class="table-responsive"><table class="table table-bordered" ><thead><tr class="success" ><th>Código Alterno</th><th>Descripción del Producto</th><th>UM</th><th>Cantidad</th><th>F.Entrega</th></tr></thead>';       	
               	$.each( data, function( index, item){
                 	table+='<tbody><tr ><td>'+item.item_codcomer+'</td><td>'+item.item_nomb+'</td><td >'+item.unidad+'</td><td >'+item.orpe_cant+'</td><td >'+item.fentrega+'</td></tr></tbody>';
                 	});
                 table+='</table></div>';                 
                  $(".modal-body #ProductosNuevos2").html( table );
                 });
       });
	}); 	
    </script>
     
{% endblock %}   
{% block title %} Aprobacion de Pedidos BM {% endblock %}
{% block article %}

<!--IniciaModal-->
 <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	 <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h3 id="myModalLabel">Aprobar Pedido del BM</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea aprobar el Pedido Numero: <span id="modal_name"></span>?</p>
    </div>
    <div class="modal-footer">
    	    	
        <form method="post" id="frmAprobar">
            {% csrf_token %}
            <input type="hidden" id="modal_idPedido" name="pedido_id">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button type="submit" class="btn btn-primary">Aprobar</button>
        </form>
    </div>
     </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--EndModal-->


<!--IniciaModal-->
 <div id="myModaldet" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	 <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 id="myModalLabel">Detalle del Pedido Numero: <span id="modal_namedet"></span> </h4>
    </div>
    <div class="modal-body">
    
    	<h4>Observación del Pedido:</h4> <span id="modal_obse"></span>    	
    	
       	<div id="ProductosNuevos2"> </div>    	
    </div>
        
    <div class="modal-footer"> 	      
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
     </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--EndModal-->

<!--IniciaModal-->
 <div id="myModalVenc" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	 <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 id="myModalLabel">Pedido Numero: <span id="modal_namedet2"></span> </h4>
    </div>
    <div class="modal-body">
    
    	<h4>El pedido no se puede aprobar porque no cumple con las reglas de negocio establecidas. <br>Para realizar la aprobación deberá modificar la fecha de entrega de los items en el Sistema BM.</h4>    	
    	
       	<div id="#"> </div>    	
    </div>
        
    <div class="modal-footer"> 	      
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    </div>
     </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--EndModal-->


<div class="container">
	<!--<div class="row">
		<div class="well sidebar-nav">
            <ul class="nav nav-list" id="ProductosNuevos">
              <li class="nav-header">Nuevos Productos</li>              
            </ul>
         </div><!--/.well
	</div>-->
	      
  <div class="row">
        <!--<div class="col-lg-2">
        	<img class="img-thumbnail" src="/media/images/req_software.png">         
        </div>-->
        <!-- /.col-lg-4  url:"/ws/productos/", -->        
	   	<div class="col-lg-10">	          
	          <h4>Listado de Pedidos BM por Aprobar...</h4>	                
	     </div><!-- /.col-lg-4 -->
       <!--  <div class="col-lg-2">
          <div class="list-group">
  		  	<a href="#" class="list-group-item active">Nuevo Pedido </a>
  		  	<a href="#" class="list-group-item">Tus Pedidos </a>   
  			</div>
           <ul class="nav nav-list" id="ProductosNuevos">
              <li class="nav-header">Nuevos Productos</li>              
           </ul>
        </div><!-- /.col-lg-4 -->       
    
  </div>
  <div class="row">
     <div class="col-lg-12">  
	     		<div class="row">
	     			
				    
				    <div class="col-lg-12"> 
				    	 <h5> Página {{ pedidos.number }} de {{ pedidos.paginator.num_pages }}</h5>
				    </div>	
				</div>
								
		     	{% if pedidos %}	
		     	<div class="table-responsive">				
		     	 <table class="table table-bordered" id="tabla_pedidos">
				      	<thead>
				                <tr>
				                  
				                  <th>Aprobar</th>
				                  <th>Ver</th>
				                  <th>Número Pedido</th>
				                  <th>Almacen</th>					                   	                  
				                  <th>F.Emisión</th>
				                  <th>F.Verificar</th>
				                  <th>Ult. F.Entrega</th>
				                  <th>C.R.</th>	  
				                  <!--<th>Usuario</th></td>-->
				                  <th>Prioridad</th>	               
				                  <!--<th>Observación</th>	-->		                 
				                 						                
				                  
				                </tr>
				        </thead>
				
				 		{% for p in pedidos %}
					 		<tbody>
					 			{% if p.orpe_prio == 'N' %}
					 				<tr class="warning" id="tr{{p.orpe_nume}}" >					 			
					 			{% else %}	
					 				{% if p.orpe_prio == 'U' %}
					 					<tr class="success" id="tr{{p.orpe_nume}}" >
					 				{% else %}
					 					<tr class="danger" id="tr{{p.orpe_nume}}" >
					 				{% endif %}						             
						        {% endif %}		
						        
						        		
									{% if user.is_authenticated  %}
									
												<td><a href="#myModal" type="button" class="btn btn-primary aprobar" data-toggle="modal" id="{{p.orpe_nume}}" 
													data-name="{{p.orpe_nume}}">
													<span class="glyphicon glyphicon-ok"></span>
													</a>
												</td>
										<!--and user.is_staff<td><a class="btn" href="/edit/producto/{{p.id}}/"><i class="icon-pencil"></i>  Editar </a></td>-->
											<!--{% if p.bvenc == 0 %}
												<td><a href="#myModal" type="button" class="btn btn-primary aprobar" data-toggle="modal" id="{{p.orpe_nume}}" 
													data-name="{{p.orpe_nume}}">
													<span class="glyphicon glyphicon-ok"></span>
													</a>
												</td>
											{% else %}	
												<td><a href="#myModalVenc" type="button" class="btn btn-danger venc" data-toggle="modal" id="{{p.orpe_nume}}" 
													data-name="{{p.orpe_nume}}">
													<span class="glyphicon glyphicon-ban-circle"></span>
													</a>
												</td>
											 {% endif %}-->		
											
								   {% endif %}	
										<td>
								   			<a href="#myModaldet" type="button" class="btn btn-primary detalle" data-toggle="modal" id="{{p.orpe_nume}}" 
												data-name="{{p.orpe_nume}}"  >
												<span class="glyphicon glyphicon-list"></span>
												
											</a>
										</td>		
												
																          
						          <td>{{ p.orpe_nume }}</td>
						          <td>{{ p.almacen }}</td>				
						          <!--<td>{{ p.orpe_fech|date:'d-m-Y H:i'}}</td>-->
						          <td>{{ p.orpe_fech|date:'d-m-Y H:i'}}</td>
						          <td>{{ p.fverificar|date:'d-m-Y H:i'}}</td>
						          <td>{{ p.fmaxent|date:'d-m-Y'}}</td>
						          <td>{{ p.ceco_codi }}</td>	
						          <!--<td>{{ p.usu_clave }}</td></td>-->
						          <td>						          	
						          	{% if p.orpe_prio == 'N' %}						          	 	
						          	 	Normal
						          	 {% elif p.orpe_prio == 'U' %}
						          	 	Urgente
						          	 {% else %}
						          	 	Emergencia
						          	 {% endif %}						          	 
						          </td>			          
						          <!--<td>{{ p.orpe_obse |truncatewords:20 }}</td>-->
								   					          
						        </tr>			          
							</tbody>
						{% endfor %}
				    </table>
				    </div>
				    
				    <div class="row">
	     			<div class="col-lg-12">      	
					{% if pedidos %}				    
					    <ul class="pagination">
							<li><a href="/pedidos/page/1"> << </a></li>
						{% if pedidos.has_previous %}
							<li><a href="/pedidos/page/{{pedidos.previous_page_number }}/"> Prev </a></li>
						{% else %}
							<li><a href="#"> Prev </a></li>
						{% endif %}
						{% if pedidos.has_next %}
							<li><a href="/pedidos/page/{{pedidos.next_page_number }}/"> Next </a></li>
						{% else %}
							<li><a href="#"> Next </a></li>
						{% endif %}
							<li><a href="/pedidos/page/{{pedidos.paginator.num_pages }} "> >> </a><li>
						</ul>					
					{% endif %}			
				    </div>
				    
				    
				</div>
				
			    {% else %}
					<h5>No existen Pedidos por Aprobar :( </h5>
				{% endif %}			
	     	</div>	     	
     	</div> 
     	
     
     <br>
	 <div class="row">
	     <div class="col-lg-12"> 
	     <h4>Leyenda:</h4>     	
	     	<a  type="button" class="btn btn-primary aprobar" data-toggle="modal" 
				>
				<span class="glyphicon glyphicon-ok"></span>
				</a>  Aprobar Pedidos BM	
			<br>     
	     	<a  type="button" class="btn btn-danger aprobar" data-toggle="modal" 
														data-name="{{p.orpe_nume}}">
														<span class="glyphicon glyphicon-ban-circle"></span>													
			</a>  Pedido con fecha de Entrega no válida.
			<br>
			<a type="button" class="btn btn-primary detalle" data-toggle="tooltip" title="Ver Detalle del Pedido" >
													<span class="glyphicon glyphicon-list"></span>												
			</a>  Ver Detalle del Pedido BM											
		</div>	
	 </div> 
      <br>
 </div> 
 
{% endblock %}

{% block aside %}
{% endblock %}
